/* Estilos para los elementos de la lista*/
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
li.menu {
  float: left;
}
li.menu a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
/* Change the link color to blue on hover */
li a:hover {
  background-color: salmon;
}
.active {
  background-color: blue;
  color: white;
  border-radius: 5px;
}
/* Estilos para las grids*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: azure;
  border: 0px;
  text-align: center;
  padding: 20px;
}
/* background class*/
.nurse-back {
  background-image: url("nurse-img");
  background-color: transparent;
}
.patient-back {
  background-image: url("patient-img");
  background-color: transparent;
}
.medic-back {
  background-image: url("medic-img");
  background-color: transparent;
}
